body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 24px;
    background: #FFFFFF;
}

button, .btn-primary {
    text-decoration: none;
    width: 200px;
    color: black;
    margin: 10px;
    padding: 20px;
    border: 2px dashed blue;
    display: inline-block;
    background: #FFFFFF;
}

.col {
    display: inline-block;
    }

form {
    margin: auto;
    text-align: left;
    padding: 0px;
    margin-left: 20px;
}

label {
    float: left;
    margin-right: 15px;
}

input{
    display: block;
    margin: 20px 10px;
}
