body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 24px;
    background: #FFFFFF;
}

button, .btn-primary {
    text-decoration: none;
    width: 200px;
    color: black;
    margin: 10px;
    padding: 20px;
    border: 2px dashed blue;
    display: inline-block;
    background: #FFFFFF;
}

.col {
    display: inline-block;
    }

form {
    margin: auto;
    text-align: left;
    padding: 0px;
    margin-left: 20px;
}

label {
    float: left;
    margin-right: 15px;
}


.black-box{
    border: 1px dashed black;
}

#plus{
    font-size: 16px;
    background-color: #66cdaa;
    margin: 8px;
}

#text-box {
    border: 1px dashed #00b7ef;
    position: relative;
    height: 122%;
}

#message-box{
    height: 100px;
    width: 98%;
}

#author-box{
    position: absolute;
    right: 0%;
    bottom: 0%;
    margin-right: 2%;
}

input{
    display: block;
    margin: 20px 10px;
}

::placeholder {
    opacity: 1;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
}

#message-box::placeholder{
    color:black;
    font-weight: bold;
}

#close{
    background-color: red;
    margin: 4px;
}

#check{
    background-color: #66cdaa;
    margin: 4px;
}

#btn-check-close{
    margin: 50px 0px;
}

.message {
    height: 224px;
}

.regular-box{
    border: 3px solid #00b7ef;
    position: absolute;
    height: 200px;
}

.title-style{
    font-size: 30px;
    font-family: 'Anton', sans-serif;
    color: #00b7ef;
    left: 0%;
    top: 0%;

}

.content-style {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #c1bfcc
}

.author-style{
    color: black;
    font-size: 24px;
    font-family: 'Pinyon Script', cursive;
    position: absolute;
    right: 0%;
    bottom: 0%;
    margin-right: 2%;
}
